<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

     <!--     load the properties file -->
    <context:property-placeholder location="classpath:data.properties"/>
	
<!-- 	injecting the values -->
	<bean id="getCricketer" class="com.setter.properties.Cricketer">	       
         <property name="id" value="${id}"/>
         <property name="name" value="${name}"/>
     </bean>    
    

</beans>





